@import "variables.scss";

.error{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $error;
    &__txt{
        padding: 0;
        margin-bottom: 0;
    }

    &__circle{
        width: 22px;
        height: 22px;
        position: relative; 
        right: 17px;
        bottom: 42px;
    }
    
}
.editIntern__form__calendars {
    & .error{
        &__circle{
            right: 71px;
        }
    }
}