@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

$base: #222222;
$error: #a3270c;
$focus: #d3f2ff;
$lighten10: #3b3b3b;
$lighten20: #555555;
$lighten40: #afafaf;
$lighten50: #ededed;
$lighten60: #f2f2f2;
$lighten70: #f7f7f7;
$lighten80: #fcfcfc;
$lighten100: #ffffff;
